{
  "presets": [
    [
      "@babel/env",
      {
        "useBuiltIns": "entry",
        "targets": {
          "browsers": [
            ">0.9%",
            "ie >= 11",
            "not op_mini all"
          ]
        }
      }
    ],
    "@babel/react"
  ],
  // test
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/syntax-dynamic-import",
    "@babel/proposal-object-rest-spread",
    "@babel/syntax-async-generators"
  ]
}